<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="page(pageVO)">
<ul>
    <th:block th:if="${pageVO.prev}">
        <li><a th:href="@{/product/productList(page=1,
																amount=${pageVO.cri.amount},
																searchName=${pageVO.cri.searchName},
																searchContent=${pageVO.cri.searchContent},
																searchPrice=${pageVO.cri.orderPrice},
																startDate=${pageVO.cri.startDate},
																endDate=${pageVO.cri.endDate}
																)}"><i class="fa fa-angle-double-left"
                                                                       aria-hidden="true"></i></a></li>
        <li style="margin-right:5px;"><a th:href="@{/product/productList(page=${pageVO.start - 1},
																			amount=${pageVO.cri.amount},
																			searchName=${pageVO.cri.searchName},
																			searchContent=${pageVO.cri.searchContent},
																			searchPrice=${pageVO.cri.orderPrice},
																			startDate=${pageVO.cri.startDate},
																			endDate=${pageVO.cri.endDate})}"><i class="fa fa-angle-left"
                                                                                                                aria-hidden="true"></i></a></li>
    </th:block>
    <th:block th:each="page:${pageVO.pageList}">
        <li th:class="${page==pageVO.page?'on':''}">
            <a th:href="@{/product/productList(page=${page},
																amount=${pageVO.cri.amount},
																searchName=${pageVO.cri.searchName},
																searchContent=${pageVO.cri.searchContent},
																searchPrice=${pageVO.cri.orderPrice},
																startDate=${pageVO.cri.startDate},
																endDate=${pageVO.cri.endDate})}">[[${page}]]</a></li>
    </th:block>
    <th:block th:if="${pageVO.next}">
        <li style="margin-left:5px;"><a th:href="@{/product/productList(page=${pageVO.end+1},
																amount=${pageVO.cri.amount},
																searchName=${pageVO.cri.searchName},
																searchContent=${pageVO.cri.searchContent},
																searchPrice=${pageVO.cri.orderPrice},
																startDate=${pageVO.cri.startDate},
																endDate=${pageVO.cri.endDate})}"><i class="fa fa-angle-right"
                                                                                                    aria-hidden="true"></i></a></li>
        <li ><a th:href="@{/product/productList(page=${pageVO.realEnd},
																amount=${pageVO.cri.amount},
																searchName=${pageVO.cri.searchName},
																searchContent=${pageVO.cri.searchContent},
																searchPrice=${pageVO.cri.orderPrice},
																startDate=${pageVO.cri.startDate},
																endDate=${pageVO.cri.endDate})}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </li>
    </th:block>
</ul>
</th:block>